* {
  user-select: none;
}
.checkerboard {
  width: 480px;
  height: 480px;
  margin: 1px;
  position: absolute;
  top: 25%;
  left: 37.5%;
}

.black,
.white {
  float: left;
  width: 60px;
  height: 60px;
  font-size: 50px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
}

.black {
  background-color: #663300;
}

.white {
  background-color: #f9f6ee;
}

#rules {
  text-align: center;
  margin-top: 175px;
  font-family: sans-serif;
  font-size: 3.5em;
  margin: 200px 0 100px 0;
}

#rule {
  margin: 25px;
  text-align: center;
  font-size: 1.3em;
  font-family: sans-serif;

}

#menuBtn {
  height: 50px;
  width: 150px;
  position: absolute;
  top: 50px;
  left: 46%;
  background-color: rgb(78, 78, 78);
  border-radius: 6px;
  border: 0;
  transition: all .2s ease-in-out;
  color: white;
  font-size: x-large;
}
#menuBtn:hover {
  transform: scale(1.1);
}

#playBtn {
  height: 50px;
  width: 150px;
  position: absolute;
  top: 50px;
  left: 46%;
  background-color: rgb(78, 78, 78);
  border-radius: 6px;
  border: 0;
  transition: all .2s ease-in-out;
  color: white;
  font-size: x-large;
}
#playBtn:hover {
  transform: scale(1.1);
}