* {
  user-select: none;
}
.chessboard {
  width: 480px;
  height: 480px;
  margin: 1px;
}

.black,
.white {
  float: left;
  width: 60px;
  height: 60px;
  font-size: 50px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
}


.black {
  background-color: #663300;

}

.white {
  background-color: 	#F9F6EE;
}
