* {
  user-select: none;
  font-family: "Lato", monospace;
  box-sizing: border-box;
}

body {
  background-color: #c2c1bf;
}

.lato-thin {
  font-family: "Lato", monospace;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", monospace;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", monospace;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", monospace;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", monospace;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", monospace;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", monospace;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", monospace;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", monospace;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", monospace;
  font-weight: 900;
  font-style: italic;
}

#checkerboard {
  width: 480px;
  height: 480px;
  margin: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.black,
.white {
  float: left;
  width: 60px;
  height: 60px;
  font-size: 50px;
  text-align: center;
  border: 1px solid black;
  margin: auto;
  line-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: #e7e3d8;
}

.white {
  background-color: #522b03;
}

#rules {
  text-align: center;
  font-size: 3em;
  margin: 275px 0 100px 0;
}

#rule {
  margin: 25px;
  text-align: center;
  font-size: 1.4em;
}

#menuBtn {
  height: 60px;
  width: 175px;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(133, 133, 133);
  border-radius: 6px;
  border: 0;
  color: white;
  font-size: xX-large;
}

#menuBtn:hover {
  background-color: rgb(78, 78, 78);
  transition: 1s;
}

#playBtn {
  height: 60px;
  width: 175px;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(133, 133, 133);
  border-radius: 6px;
  border: 0;
  color: white;
  font-size: xX-large;
}

#playBtn:hover {
  background-color: rgb(78, 78, 78);
  transition: 1s;
}

#winnerMsg {
  font-size: xx-large;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

#player1count {
  position: absolute;
  font-size: 1.4em;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#player2count {
  position: absolute;
  font-size: 1.4em;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selected {
  border: 3px solid white;
  opacity: 0.9;
  border-radius: 10px;
  transform: scale(1.15);
  transition: 150ms;
}
